<!DOCTYPE html>
<html lang="fi">
<head>
<link rel="StyleSheet" href="tyylit.css" type="text/css" />
<title>Peli</title>
</head>
<body>

<h1>Peli</h1>

<p>Kerro luotavan pelialueen koko. Ruudukko on yhtä monta ruutua
leveä kuin korkea. </p>

<form class="form" action="vt2.cgi" method="get">
<fieldset>
<p><label>Koko <input type="text" name="koko" /></label>
{% if virhe %}
<span style="color: red;">{{virhe}}</span>
{% endif %}
</p>
<p><label>Teksti <input type="text" name="teksti" required/></label></p>
</fieldset>
<p><input type="submit" value="Luo" /></p>
</form>
{% if koko > 0  and not virhe %}
<table>
{% for rivi in range(koko) %}
<tr>
{% set outer_loop = loop %}
{% for sarake in range(koko) %}
{% if ((outer_loop.index + loop.index) % 2 != 0) %}
{% set pallo = koordinaatit[outer_loop.index -1][loop.index -1] %}
<td class="{{'pariton' + ' ' + pallo}}">
{% if pallo == "x" %}
<a href="?koko={{koko}}&teksti={{teksti}}&koordinaatit={{json_koordinaatit}}&poista={{outer_loop.index}},{{loop.index}}">             
<img src="http://appro.mit.jyu.fi/tiea2080/vt/vt2/blue.svg" alt="sininen" />
</a>
{% elif pallo == "y" %}
<a href="?koko={{koko}}&teksti={{teksti}}&koordinaatit={{json_koordinaatit}}&poista={{outer_loop.index}},{{loop.index}}">                   
<img src="http://appro.mit.jyu.fi/tiea2080/vt/vt2/red.svg" alt="punainen" />
</a>
{% endif %}
</td>
{% else %}
{% set pallo = koordinaatit[outer_loop.index -1][loop.index -1] %}
<td class="{{'parillinen' + ' ' + pallo}}">
{% if pallo == "x" %}
<a href="?koko={{koko}}&teksti={{teksti}}&koordinaatit={{json_koordinaatit}}&poista={{outer_loop.index}},{{loop.index}}">
<img src="http://appro.mit.jyu.fi/tiea2080/vt/vt2/blue.svg" alt="sininen" />
</a>
{% elif pallo == "y" %}
<a href="?koko={{koko}}&teksti={{teksti}}&koordinaatit={{json_koordinaatit}}&poista={{outer_loop.index}},{{loop.index}}">
<img src="http://appro.mit.jyu.fi/tiea2080/vt/vt2/red.svg" alt="punainen" />
</a>
{% endif %}
</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
<p>{{teksti}}</p>
{% endif %}
</body>
</html>